﻿@model FriendCodes.Models.User

@{
    ViewBag.Title = "UserInfo";
}

<h2>User Info</h2>
<div class="userInfo">
    <div>
        @Html.LabelFor(model => model.User_IGN)
        @Model.User_IGN
    </div>

    <div>
        @Html.LabelFor(model => model.Friend_Code)
        @Model.Friend_Code
    </div>

    <div>
        @Html.LabelFor(model => model.UserActive)
        @Model.UserActive
    </div>
    <span>
        @Html.ActionLink("Edit", "Edit", new { id = Model.User_ID })
    </span>
</div>

<h3 class="mt-2">Units Owned</h3>
<table class="table">
    <thead>
        <tr>
            <th>Unit Name</th>
            <th>Rarity</th>
            <th>Build</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Available_Units)
        {
            <tr>
                <td>@Html.DisplayFor(rowItem => row.Unit_Name)</td>
                <td>@Html.DisplayFor(rowItem => row.Rarity)</td>
                <td>@Html.DisplayFor(rowItem => row.Build)</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Back To Users", "Index")

