﻿@model FriendCodes.Models.ViewModels.ViewUnits
@{
    ViewBag.Title = "Add";
}

<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/select2.min.js"></script>
@section scripts
    {

}
<h2>Add your Unit </h2>
<form method="post" action="/AvailableUnit/AddUnit" class="ml-4 ">
    <div class="form-group">
        <label for="A_Unit_Name">Unit Name</label>
        <select id="A_Unit_Name" name="A_Unit_Name" class="form-control">
            <optgroup label="7* Units">
                @foreach (var unit in Model.unit)
                {
                    if (unit.Rarity == 7)
                    {
                        <option value="@unit.Unit_Name" class="@unit.Rarity">@unit.Unit_Name</option>
                    }
                }
            </optgroup>
            <optgroup label="6* Units">
                @foreach (var unit in Model.unit)
                {
                    if (unit.Rarity == 6)
                    {
                        <option value="@unit.Unit_Name" class="@unit.Rarity">@unit.Unit_Name</option>
                    }
                }
            </optgroup>
        </select>
    </div>
    
    <div class="form-group">
        <label for="A_Rarity">Unit Rarity</label>
        <select id="A_Rarity" name="A_Rarity" class="form-control">
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
    </div>
        
    <div class="form-group">
        <label for="A_Build">Unit Build</label>
        <input type="text" id="A_Build" name="A_Build" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="A_User_ID">User</label>
        <select id="A_User_ID" name="A_User_ID" class="form-control">
            @foreach (var user in Model.users)
            {
                <option value="@user.User_ID">@user.User_IGN</option>

            }
        </select>
    </div>
    <div class="form-group">
        <div class="col-md-5">
            <input type="submit" value="Submit" />
        </div>
    </div>
</form>
