﻿@model FriendCodes.Models.ViewModels.EditUnit
@{
    ViewBag.Title = "Edit";
}
<!--Code referenced from Christine Bittle-->
<h2>Edit</h2>
<form method="post" action="/AvailableUnit/Edit/@Model.available_unit.AvailableUnit_ID">
    <table class="table">
        <thead>
            <tr>
                <th>Unit Name</th>
                <th>Rarity</th>
                <th>Unit Build</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.available_unit.Unit_Name, new { Name="A_Unit_Name", @readonly = true})
                </td>
                <td>
                    <select id="A_Rarity" name="A_Rarity">
                        <option value="6"  @if (Model.available_unit.Rarity ==6 ) { var selected = "selected"; @selected; }>6</option>
                        <option value="7"  @if (Model.available_unit.Rarity ==7) { var selected = "selected"; @selected; }>7</option>
                    </select>
                </td>
                <td>
                    <input type="text" id="A_Build" name="A_Build" value="@Model.available_unit.Build"/>
                </td>
                <td>
                    <select id="A_User_ID" name="A_User_ID">
                        @foreach (var user in Model.users)
                        {
                            <option value="@user.User_ID" @if (user.User_ID == Model.available_unit.User.User_ID) { var selected = "selected"; @selected; }>@user.User_IGN</option>

                        }
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-md-5">
            <input type="submit" value="Submit" />
        </div>
    </div>
</form>
